body{
  
  background: url(image/bgabout.jpg);
  background-size: cover;
  background-position: center;
}

.scrollClass {
  height:300px;
  overflow-y: scroll;
}

h2,h4{
  font-weight: bold;
}